<!-- Describe task in general -->

<p>
    Це завдання адаптоване з наступного відео за участю Neil Sloane (засновника <a target="_blank" href="https://oeis.org">Онлайн енциклопедії послідовностей цілих чисел</a>), яке тобі варто подивитися для початку, щоб зрозуміти, як працює цей чудовий пазл.
</p>
<p style="text-align: center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/m4Uth-EaTZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</p>
<p style="text-align: justify">
    Щоб зберігати керованість ситуацією, розміщення каменів обмежене <b class="code">n * n</b> дошкою, межі якої камені не можуть перетнути. Як завжди, нумерація рядків і стовпців починається з нуля.
</p>
<p style="text-align: justify">
    Ти маєш певну кількість 🟤 каменів (1 очко кожен) будь-де на дошці. Тепер ти додаєш на дошку ⚪ камені зі зростаючим значенням очок (2, 3, 4 ...). Правило розміщення таке: ти можеш розмістити ⚪ камінь зі значенням <b class="code">k</b> тільки якщо сума значень його 8 сусідів (🟤 і/або ⚪) дорівнює <b class="code">k</b>. 
</p>
<p style="text-align: justify">
    Починаючи розміщення з каменя під номером <b class="code">2</b>, послідовно (пропуск значень не дозволяється) пронумеровані камені розміщуються на дошці в зростаючому порядку. Таким чином, на момент, коли камінь під номером <b class="code">k</b> десь розміщується, аж до восьми каменів, розміщених навколо нього, завершуються якраз перед номером <b class="code">k</b>.
</p>  
<p style="text-align: justify">
    Маючи дошку розміром <b class="code">n</b> і початкові координати 🟤<b class="code">ones</b>, твоя функція повинна повернути найбільший пронумерований камінь з найдовшої можливої послідовності, яка може бути розміщена суміжно на дошці відповідно до правил цього пазлу.
</p>
<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Два аргументи: ціле число, {% if is_js %}масив{% else %}список{% endif %} кортежів з двох цілих чисел.
</p>
<p>
    <strong>Вихідні дані:</strong> Ціле число. 
</p>
<p>
    <strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<p>
    <i>
        Ця місія взята з курсу CCPS 109 Computer Science I, версія від 21 грудня 2022 року, авторства <a target="_blank" href="https://github.com/ikokkari">Ilkka Kokkarinen</a>.
    </i>
</p>

