<!-- Describe task in general -->

<p>
    This task is adapted from following video with Neil Sloane (founder of the <a target="_blank" href="https://oeis.org">On-Line Encyclopedia of Integer Sequences</a>), that you should watch first to learn, how this excellent puzzle works.
</p>
<p style="text-align: center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/m4Uth-EaTZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="1"></iframe>
</p>
<p style="text-align: justify">
    You have got a certain number of 🟤 stones (1 point each) anywhere on the board. Now you add ⚪ stones with increasing points value (2, 3, 4 ...) on the board. The rule of placement is: you can only put down a ⚪ stone with value <b class="code">k</b> if sum of values of its eight neighbors (🟤 and/or ⚪) is <b class="code">k</b>. 
</p>
<p style="text-align: justify">
    To keep this problem manageable, the placement of stones is restricted into a finite <b class="code">n * n</b> chessboard, whose edges the stones cannot cross into the void. As usual, rows and columns are numbered starting from zero.
</p>
<p style="text-align: justify">
    Starting the placement from stone number <b class="code">2</b>, consecutively (no value skipping allowed) numbered stones are placed on board in ascending order so that the moment that the stone number <b class="code">k</b> is placed somewhere, the stones previously placed into its up to eight neighboring locations add up to exactly <b class="code">k</b>.
</p>  
<p style="text-align: justify">
    Given the board size <b class="code">n</b> and the initial coordinates of the 🟤<b class="code">ones</b>, your function should return the highest numbered stone in the longest sequence of stones that can be placed consecutively on the board within the rules of the puzzle.
</p>
<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Two arguments: {% if is_js %}number{% else %}integer{% endif %}, {% if is_js %}array of tuples of 2 numbers{% else %}list of tuples of 2 integers{% endif %}.
</p>
<p>
    <strong>Output:</strong> {% if is_js %}Number{% else %}Integer{% endif %}. 
</p>
<p>
    <strong>Examples:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<p>
    <i>
        This task is taken from the course CCPS 109 Computer Science I, Version of December 21, 2022, as taught by <a target="_blank" href="https://github.com/ikokkari">Ilkka Kokkarinen</a>.
    </i>
</p>

